.product-tile-container {
    background-color: white;
    border-radius: 0.50rem;
    border: 1px solid lightgray;
    height: 450px;
    padding: 10px;
       
}

.product-desc-container{
    margin-top: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.container {
    display: inline-block;
    align-items: center;
    padding: 10px; 
    
}

lightning-formatted-number.price{
    text-align: left;
    font-size: large;
    font-weight: 700;
    color: rgb(6, 4, 144);
}

.combobox-container {
    display: flex; /* Use flexbox to align elements horizontally */
    gap: 20px;
    padding: 10px;
}