.combobox-container {
    display: flex; /* Use flexbox to align elements horizontally */
    gap: 20px;
}

.combo-box {
    width: 350px; /* Set the width to your desired size (e.g., 150px) */
   
    margin-right: 10px; /* Add spacing between ComboBoxes (adjust as needed) */
}